/***UTILITY***/

p.jumbotron-small {
	font-size: 1em;
}

/***GLOBAL***/

html {
	height: 100%;
}

body {
	padding-bottom: 50px;
	height: 100%;
}

a {
	color: #f8694d;
}

a:hover {
	color: #f88b76;
}

a:hover {
	cursor: pointer;
}

.navbar-default {
	background-color: #f8694d;
}

.navbar .btn-default {
	color: #fff;
	background-color: #f8694d;
	border: 1px solid #fff;
}

.navbar .btn-default:hover, .navbar .btn-default:focus {
	color: #fff;
	background-color: #f8694d;
	border: 1px solid #fff;
}

.btn-default {
	color: #fff;
	background-color: #f8694d;
	border: none;
}

.btn-default:hover, .btn-default:focus {
	color: #fff;
	background-color: #f8694d;
	border: none;
}

.navbar ul.nav li a, .navbar ul.nav li a:hover {
	color: #fff;
}

.navbar .dropdown-menu a {
	color: #000 !important;
	text-decoration: none !important;
}

.navbar .dropdown-menu a:hover {
	color: #333 !important;
}

.navbar ul.nav li.active a {
	text-decoration: underline;
}

.navbar ul.nav li.open > a {
	text-decoration: underline;
}	

.navbar {
	box-shadow: none;
}

.alert {
	width: 100%;
	position: absolute;
	top: 70px;
	text-align: center;
	z-index: 9999;
}

@media screen and (max-width: 992px) {
	.navbar-brand {
		top: 0;
	}
}

#site-wrapper {
	z-index: 9999;
	background-color: #fff;
}

/***PANELS***/

div.scotch-panel-wrapper {
	overflow: visible !important;
}

#panel-profile, #panel-nav {
	display: none;
}

#panel-profile-content {
	position: fixed;
	top: 0;
	left: -300px;
	width: 300px;
	height: 100%;
	background-color: #333;
}

#panel-nav-content {
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100%;
	background-color: #333;
}

/***HOME***/

.jumbotron-home {
	background: url('../img/typewriter-d.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 400px;
	color: #fff;
}

.jumbotron-home h1 {
	margin-top: 90px;
	text-align: center;
	text-shadow: 0 2px 5px #333;
}

.jumbotron-home p {
	text-align: center;
	text-shadow: 0 2px 3px #333;
}

.jumbotron-home p.lead {
	font-weight: 500;
}

.jumbotron-home a.btn-success {
	background: rgba(0,85,0,.5);
	border-width: 3px;
}

.jumbotron-home a {
	color: #fff;
	font-weight: 500;
}

.h1-icon {
	font-size: 3em;
	margin-bottom: 20px;
}

.logo-home {
	height: 120px;
	margin-top: 60px;
	margin-bottom: 10px;
}

/***POST - SHOW***/

p.rank {
	margin-top: 8px;
	margin-bottom: 0;
	text-align: center;
}

/***COMMENTS***/

.media-body > .media {
	border-left: 1px solid #eee;
	padding-left: 15px;
}